# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ilk
*.tlog
*.lastbuildstate
*.log
*.idb
*.opensdf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Detection/TCC/Debug/TCC.ilk
*.ilk
Detection/TCC/Debug/TCC.ilk
*.sdf
*.log
*.pdb
*.lastbuildstate
*.ilk
Detection/TCC/Debug/TCC.pdb
*.ilk
Detection/TCC/Debug/TCC.ilk
*.ilk
